n8n-lite/pbk-lead-intake.workflow.json
{
  "name": "PBK Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pbk-lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookLeadIntake",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst source = input.body ?? input;\nconst lead = {\n  leadId: source.leadId || source.id || `lead-${Date.now()}`,\n  source: source.source || 'manual-webhook',\n  seller: {\n    name: source?.seller?.name || source.name || 'Unknown seller',\n    phone: source?.seller?.phone || source.phone || '',\n    email: source?.seller?.email || source.email || ''\n  },\n  property: {\n    address: source?.property?.address || source.address || '',\n    city: source?.property?.city || source.city || '',\n    state: source?.property?.state || source.state || ''\n  },\n  tags: Array.isArray(source.tags) ? source.tags : []\n};\nreturn [{\n  json: {\n    ...lead,\n    bridgeEvent: {\n      eventType: 'lead-intake',\n      payload: {\n        ...lead,\n        _source: 'n8n-lead-intake'\n      }\n    }\n  }\n}];"
      },
      "id": "CodeNormalizeLead",
      "name": "Normalize Lead Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "https://pbk-openclaw-bridge.onrender.com/events",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bridgeEvent }}",
        "options": {}
      },
      "id": "HttpToOpenClaw",
      "name": "Push To OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Lead intake accepted by PBK local bridge', openclaw: $json } }}"
      },
      "id": "RespondLeadIntake",
      "name": "Respond To Lead Intake",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -40
      ]
    }
  ],
  "connections": {
    "Lead Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Payload": {
      "main": [
        [
          {
            "node": "Push To OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push To OpenClaw": {
      "main": [
        [
          {
            "node": "Respond To Lead Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "pbk-lead-intake-v1",
  "meta": {
    "instanceId": "pbk-local"
  },
  "id": "pbkLeadIntakeWorkflow",
  "tags": []
}
