n8n-lite/pbk-approval-fanout.workflow.json
{
  "name": "PBK Approval Fanout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pbk-approval-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookApprovalRequest",
      "name": "Approval Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        -180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst source = input.body ?? input;\nconst id = source.id || `approval-${Date.now()}`;\nconst headers = input.headers || {};\nconst forwardedProto = headers['x-forwarded-proto'] || headers['X-Forwarded-Proto'] || 'https';\nconst forwardedHost = headers['x-forwarded-host'] || headers['X-Forwarded-Host'] || headers.host || headers.Host || '127.0.0.1:5678';\nconst baseUrl = `${forwardedProto}://${forwardedHost}`.replace(/\\/+$/g, '');\nconst decisionPath = '/webhook/pbkApprovalFanoutWorkflow/approval%2520decision%2520webhook/pbk-approval-decision';\nreturn [{\n  json: {\n    id,\n    leadId: source.leadId || '',\n    leadName: source.leadName || source.name || 'Unknown seller',\n    address: source.address || '',\n    offerPrice: source.offerPrice || 0,\n    mao: source.mao || 0,\n    notes: source.notes || '',\n    createdAt: source.createdAt || new Date().toISOString(),\n    approveUrl: `${baseUrl}${decisionPath}?id=${id}&status=approved`,\n    rejectUrl: `${baseUrl}${decisionPath}?id=${id}&status=rejected`,\n    notifyPayload: {\n      eventType: 'approval-notify',\n      payload: {\n        actor: 'n8n',\n        category: 'APPROVAL',\n        status: 'fanned-out',\n        text: `Approval request ready for ${source.leadName || source.name || 'Unknown seller'} at ${source.address || ''}`,\n        target: source.address || '',\n        id,\n        leadName: source.leadName || source.name || 'Unknown seller',\n        address: source.address || '',\n        offerPrice: source.offerPrice || 0,\n        mao: source.mao || 0,\n        notes: source.notes || '',\n        approveUrl: `${baseUrl}${decisionPath}?id=${id}&status=approved`,\n        rejectUrl: `${baseUrl}${decisionPath}?id=${id}&status=rejected`\n      }\n    }\n  }\n}];"
      },
      "id": "CodeNormalizeApproval",
      "name": "Normalize Approval Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "https://pbk-openclaw-bridge.onrender.com/events",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.notifyPayload }}",
        "options": {}
      },
      "id": "HttpNotifyChannel",
      "name": "Notify Approval Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        -180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Approval request fanned out', approveUrl: $node['Normalize Approval Request'].json.approveUrl, rejectUrl: $node['Normalize Approval Request'].json.rejectUrl } }}"
      },
      "id": "RespondApprovalRequest",
      "name": "Respond To Approval Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        -180
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "pbk-approval-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookApprovalDecision",
      "name": "Approval Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    id: input.query?.id || input.id || '',\n    status: input.query?.status || input.status || 'approved',\n    actor: input.query?.actor || input.actor || 'n8n callback',\n    actedAt: new Date().toISOString(),\n    bridgeEvent: {\n      eventType: 'approval-callback',\n      payload: {\n        id: input.query?.id || input.id || '',\n        status: input.query?.status || input.status || 'approved',\n        actor: input.query?.actor || input.actor || 'n8n callback',\n        actedAt: new Date().toISOString()\n      }\n    }\n  }\n}];"
      },
      "id": "CodeNormalizeDecision",
      "name": "Normalize Approval Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "https://pbk-openclaw-bridge.onrender.com/events",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bridgeEvent }}",
        "options": {}
      },
      "id": "HttpDecisionToOpenClaw",
      "name": "Post Decision To OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Approval decision forwarded to PBK local bridge', decision: $json } }}"
      },
      "id": "RespondApprovalDecision",
      "name": "Respond To Approval Decision",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        140
      ]
    }
  ],
  "connections": {
    "Approval Request Webhook": {
      "main": [
        [
          {
            "node": "Normalize Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Approval Request": {
      "main": [
        [
          {
            "node": "Notify Approval Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Approval Channel": {
      "main": [
        [
          {
            "node": "Respond To Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Decision Webhook": {
      "main": [
        [
          {
            "node": "Normalize Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Approval Decision": {
      "main": [
        [
          {
            "node": "Post Decision To OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Decision To OpenClaw": {
      "main": [
        [
          {
            "node": "Respond To Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "pbk-approval-fanout-v1",
  "meta": {
    "instanceId": "pbk-local"
  },
  "id": "pbkApprovalFanoutWorkflow",
  "tags": []
}
